/* Variables */

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(150, 86%, 17%);
  --clr-primary-2: hsl(150, 77%, 27%);
  --clr-primary-3: hsl(150, 72%, 37%);
  --clr-primary-4: hsl(150, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(150, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(150, 89%, 70%);
  --clr-primary-7: hsl(150, 90%, 76%);
  --clr-primary-8: hsl(150, 86%, 81%);
  --clr-primary-9: hsl(150, 90%, 88%);
  --clr-primary-10: hsl(150, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(159, 43%, 18%);
  --clr-grey-2: hsl(161, 39%, 23%);
  --clr-grey-3: hsl(159, 34%, 30%);
  --clr-grey-4: hsl(159, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(123, 26%, 28%);
  --clr-green-light: hsl(124, 74%, 92%);
  --clr-black: #222;
  --transition: all 0.5s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/* 1 */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Cantarell, "Trebuchet MS", Helvetica, sans-serif, Calibri, 'SimSun', Ubuntu, 'Segoe UI', BlinkMacSystemFont, Roboto, Oxygen, 'Open Sans';
  background: var(--clr-grey-9);
  /* background-image: url(https://res.cloudinary.com/dyiwzykis/image/upload/v1632568263/wall_jzp6yv.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
    text-shadow: var(--dark-shadow);
  }
  h2 {
    font-size: 2.5rem;
    text-shadow: var(--dark-shadow);
  }
  h3 {
    font-size: 1.75rem;
    text-shadow: var(--dark-shadow);
  }
  h4 {
    font-size: 1rem;
    text-shadow: var(--dark-shadow);
  }
  body {
    font-size: 1rem;
    text-shadow: var(--dark-shadow);
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/* navbar */
nav {
  /* background: rgb(248, 240, 206); */
  background-image: url('https://res.cloudinary.com/dyiwzykis/image/upload/v1632567398/sceneA_lhrvxn.jpg');
  box-shadow: var(--light-shadow);
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-primary-5);
  background: transparent;
  border-color: transparent;
  transition: var(--transition) !important;
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--clr-primary-1) !important;
  transform: rotate(90deg) !important;
}
.logo {
  height: 40px;
}
.links a {
  color: var(--clr-grey-3);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}
.links a:hover {
  background: var(--clr-primary-8);
  color: var(--clr-primary-5);
  padding-left: 1.5rem;
}
.social-icons {
  display: none;
  scale: 1.5;
}
.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-container {
  height: 10rem;
}

/* 2 */

.section {
  width: 90vw;
  margin: 2.5rem auto;
  max-width: var(--max-width);
  color: var(--clr-black);
  background: var(--clr-grey-8);
  opacity: 0.2;
  padding-top: 1.25rem;
  padding-bottom: 1rem;
  border-radius: 1rem;
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}
/* about me */
.title {
  text-align: center;
  margin-bottom: 2rem;
}
.title h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}
.title span {
  font-size: 0.85em;
  color: var(--clr-primary-5);
  margin-right: 1rem;
  font-weight: 700;
}
.section-center {
  margin: 0 auto;
  margin-top: 3rem;
  width: 80vw;
  height: 450px;
  max-width: 800px;
  text-align: center;
  position: relative;
  display: flex;
  /* overflow: hidden; */
}
.person-img {
  border-radius: 50%;
  margin-bottom: 1rem;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 4px solid var(--clr-grey-8);
  box-shadow: var(--dark-shadow);
}
.logo-img {
  border-radius: 50%;
  margin-bottom: 1rem;
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border: 4px solid var(--clr-grey-4);
  box-shadow: var(--dark-shadow);
  margin-right: 0.5rem;
}
article h4 {
  text-transform: uppercase;
  color: var(--clr-primary-5);
  margin-bottom: 0.25rem;
}
.title {
  text-transform: capitalize;
  margin-bottom: 0.75rem;
  color: var(--clr-grey-3);
}
.text {
  max-width: 35em;
  margin: 0 auto;
  margin-top: 2rem;
  line-height: 2;
  color: var(--clr-grey-5);
}
.icon {
  font-size: 3rem;
  margin-top: 1rem;
  color: var(--clr-primary-2);
}
.prev,
.next {
  position: absolute;
  top: 200px;
  transform: translateY(-50%);
  background: var(--clr-grey-6);
  color: var(--clr-white);
  width: 1.25rem;
  height: 1.25rem;
  display: grid;
  place-items: center;
  border-color: transparent;
  font-size: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: var(--transition);
}
.prev:hover,
.next:hover {
  background: var(--clr-primary-5);
}
.prev {
  left: 0;
}
.next {
  right: 0;
}
@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
  .social-icons {
    display: flex;
  }
  .social-icons a {
    margin: 0 0.5rem;
    color: var(--clr-primary-5);
    transition: var(--transition);
  }
  .social-icons a:hover {
    color: var(--clr-primary-7);
  }
  .text {
    max-width: 45em;
  }
  .prev,
  .next {
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
  }
}
article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: var(--transition);
}
article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
article.prevSlide {
  transform: translateX(-100%);
}
article.nextSlide {
  transform: translateX(100%);
}